<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ng.campusbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.FirebaseOffline"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".start.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransStatusBar"></activity>

        <activity android:name=".education.LibraryActivity" />
        <activity
            android:name=".education.reader.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".education.reader.PDFActivity" />
        <activity
            android:name=".social.messaging.group.GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.match.MatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.post.story.StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.post.story.AddStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.AdInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.SetUpProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.FollowersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.messaging.chat.NewChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.messaging.group.AddUsersGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.messaging.room.RoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.post.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.messaging.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.post.PostActivity"
            android:parentActivityName=".social.SocialActivity"
            android:screenOrientation="portrait">

            <!-- for image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- for text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".education.EducationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.SocialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" /> <!-- Authentication -->
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransStatusBar" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransStatusBar" />
        <activity
            android:name=".auth.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransStatusBar" /> <!-- START -->

        <activity
            android:name=".start.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransStatusBar" />
        <activity
            android:name=".start.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Image Cropper -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".utils.FirebaseMessaging"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ng.campusbuddy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>